html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: red;
    border: 3px solid cyan;
    width: 160px;
}

h2 {
    color: crimson;
    border: 3px solid indigo;
    width: 120px;
}

h3 {
    color: darkred;
    border: 3px solid teal;
    width: 95px;
}

h4 {
    color: lightcoral;
    border: 3px solid turquoise;
    width: 80px;
}

h5 {
    color: tomato;
    border: 3px solid aquamarine;
    width: 65px;
}

h6 {
    color: firebrick;
    border: 3px solid slateblue;
    width: 55px;
}

.hs_intro {
    text-align: center;
}

p {
    color: aqua;
}

.people_table {
    border: 1px solid black;
    width: 220px;
}

form {
    color: chocolate;
    border: 1px solid black;
    width: 200px;
    text-align: center;
}

button, input {
    color: cornflowerblue;
}