/* index.html */

html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.hs_intro {
    color: red;
    text-align: center;
    border: 1px solid brown;
    width: 300px;
}

.cars_title, .motos_title {
    color: cornflowerblue;
    text-decoration: underline;
}

.chevrolet_title, .ford_title, .volkswagen_title, .honda1_title, 
.mercedes_title, .bmw_title, .porsche_title, .audi_title, 
.lamborghini_title, .ferrari_title, .maserati_title, .aston_martin_title {
    text-decoration: underline;
}

.honda_title, .ducati_title, .triumph_title, .ktm_title, .suzuki_title,
.kawasaki_title, .yamaha_title, .harley_davidson_title {
    text-decoration: underline;
}

.people_table {
    border: 1px solid black;
    width: 220px;
}
th {
    text-decoration: underline;
}

form {
    color: chocolate;
    border: 1px solid chocolate;
    width: 200px;
    text-align: center;
    float: right;
}

.signin_h {
    text-decoration: underline;
}

button, input {
    color: cornflowerblue;
}

.pag2_h {
    text-align: center;
    width: 12px;
    color: blueviolet;
}

img {
    width: 400px;
}

p {
    color: maroon;
}

/* tests.html */

.tests-body {
    background-color: #1a1a1d;
}

.tests-center, .p-js {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

    text-align: center;
    font-family: 'Cinzel', serif;
    color: #c3073f;
}

.tests-center .p-tests, .p-js {
    color: #c3073f;
    font-size: large;
}

.tests-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #c3073f;
    text-align: center;
}

.tests-footer p, .tests-footer a {
    color: white;
}